body {
	margin: 0;
	padding: 10px;
	background-color: rgba(2, 2, 2, 0.55);
}

header
{
	padding: 10px;
}

header h1, header h2 {
	text-align: center;
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

footer {
	position: absolute;
	bottom:0;
	font-style: italic;
}
